@import url(./styles/traffic.css);
@import url(./styles/traffic-lights.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --BLACK: #30343f;
  --WHITE: #fafafa;

  --RED: #ed254e;
  --YELLOW: #f9dc5c;
  --GREEN: #c2eabd;

  --BORDER-W: 1rem;
}
